* {
    margin: 0;
    padding: 0;
}

body {
    /*background: linear-gradient(to bottom right, #000000 50%, #ffffff 100%);*/
    background-color: black;
    background-attachment:fixed;
    width: 100%;
    height: 100%;
}

h1 {
    color: #ffffff;
}

.nav-item-dark {
    background-color: #2c2c2c;
    display: block;
    padding: .5rem 1rem;
}

.navbar-brand {
    color: #ffffff;
}

.navbar-negro {
    background-color: #000000;
}

.bg-negro {
    background-color: #000000;
}

a {
    color: #ffffff;
    text-align: center;
}

a:hover {
    color: #d3d3d3;
    text-decoration: none;
}

.logo {
    width: 5%;
    height: 10%;
}

.footer-copyright-section {
    background-color: rgba(0, 0, 0, 0);;
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
    height: 90px;
    color: white;
  }

  .carousel-inner img {
    width: 100%;
    height: auto;
  }

  #loader {
    position: fixed;
    background: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    z-index: 9999999999;
  }

  #loader svg {
    display: block;
    margin: auto;
  }
  
  .nameLogo {
    color: white;
    display: none;
  }
  
  #acronimo {
    display: none;
  }

  .path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear forwards;
  }
  /* ------Tamaño del icono de ubicacion----------*/
  .fa-map-marked-alt {
    font-size: 100px;
  }
  /* ------Tamaño del icono de llamada----------*/
  .fa-phone-volume {
    font-size: 100px;
  }
  /* ------Tamaño del icono de correo----------*/
  .fa-envelope-open {
    font-size: 100px;
  }

  /* ------Media para dispositvos con 600px de pantalla----------*/
  @media only screen and (max-width: 600px) {
    .carousel-inner img {
      width: 200%;
    }

    .loader img{
        max-width: 60%;
    }

    .footer-copyright-section {
      height: 100px;
    }
  }

  /* ----- Animacion para el logo ----------*/
  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }
